* {
    /* color: pink; */
    box-sizing: border-box;
    font-family: 'Teko';
    margin: 0;
    padding:0;
}



html {
    height: 100%;
   
}

body  {
    display: grid;
    background-image: url('./assets/images/ocean.avif');
   
    place-items: center;
    height: 100%;
    grid-template-rows: 1fr 5fr;
}

h1 { 
    color: white;
    font-size: 8rem;
    
}

.placementPageWrapper {
    display: grid;
    grid-template-rows: 1fr 6fr;
}

.alignmentBtn {
    display:grid;
    grid-row:1/2;
}

.placementBoard {
    display: grid;
    grid-row: 2/2;
    justify-content: center;
    grid-template-rows: repeat(10, 30px);
    grid-template-columns: repeat(10, 30px);
    max-width: 0px;

}
.shipPart {
    height: 30px;
    width: 30px;
    background-color: green;
    border: solid 2px white;
}

.placePlayBtn {
    display:grid;
    align-self: end;    
}

.playerContainer, .computerContainer {
    display: grid;
    place-items: center;
    grid-template-rows: repeat(10, 30px);
    grid-template-columns: repeat(10, 30px);
}

.battleshipsContainer {
    display: grid;
    place-items: center;
    gap: 100px;
    grid-template-columns: 1fr 1fr;
}